<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome, {{#usernameInput}}{{.}}{{/usernameInput}}</h1>
    <p>You have visited this page {{visitCount}} times.</p>
    <p>Your session will expires in {{expirationTime}} minutes.</p>
  </body>
</html>
